.places {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.places > h1 {
    text-align: left;
    font-size: 30px;
    display: block;
    flex-grow: 2;
    width: 100%;
    margin-left: 1.5rem;
}
.places > article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.places > article > h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 0.2rem;
}